
.container {
    margin: 4rem auto 7rem;
    text-align: center;
  }
  
.heading{
    text-align: center;
}

.outputTable{
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
    border: 1px solid;

}
td{
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}